:root {
  --primary-color: #212529;
  --secondary-color: white;
  --accent-color: #0d6efd;
}

.main {
  background-image: url("./img/sunset-with-clouds-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main {
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
  padding: 20px;
  color: var(--secondary-color);
  font-size: 48px;
}
h4 {
  font-size: 80px;
  font-weight: 300;
  display: inline;
}
h5 {
  font-size: 20px;
}
a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  padding: 0 0 0 40px;
}

@media (max-width: 900px) {
  .main {
    font-size: 16px;
  }
  .wrapper {
    display: block;
    margin: 0 15px;
  }
  h1 {
    font-size: 32px;
  }
}
