.week-forecast {
  margin: 50px auto 30px auto;
}
.week-weather {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  padding: 0px;
  background: var(--secondary-color);
  box-shadow: 0 8px 9px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(44, 42, 42, 0.18);
}
.week-weather-temperature {
  padding: 15px 0 0 0;
  margin: 0 auto;
}
.card-body {
  text-align: center;
  display: block;
  margin: 0 auto;
  flex: 1;
  padding: 15px 0;
}

@media (max-width: 900px) {
  div.card.week-weather.col-sm-1 {
    margin: 20px 30px;
  }
  div.container.short-week-forecast {
    padding: 0 30px;
  }
}
